<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<SScholl_Onix>
			<version>0.0.7</version>
		</SScholl_Onix>
	</modules>
	<global>
		<helpers>
			<sschollonix>
				<class>SScholl_Onix_Helper</class>
			</sschollonix>
		</helpers>
		<models>
			<sschollonix>
				<class>SScholl_Onix_Model</class>
			</sschollonix>
		</models>
	</global>
	<sschollonix>
		<tags>
			<a001>
				<attribute>recordreference</attribute>
			</a001>
			<a002>
				<attribute>notification_type</attribute>
				<processor>sschollonix/product_processor_int</processor>
			</a002>
			<b012>
				<attribute>product_form_code</attribute>
			</b012>
			<b056>
				<attribute>edition_type_code</attribute>
			</b056>
			<b057>
				<attribute>edition_number</attribute>
				<processor>sschollonix/product_processor_int</processor>
			</b057>
			<b061>
				<attribute>number_of_pages</attribute>
				<processor>sschollonix/product_processor_int</processor>
			</b061>
			<b073>
				<attribute>audience_code</attribute>
				<processor>sschollonix/product_processor_int</processor>
			</b073>
			<b003>
				<attribute>published_date</attribute>
				<processor>sschollonix/product_processor_date</processor>
			</b003>
			<productidentifier>
				<processor>sschollonix/product_processor_productidentifier</processor>
			</productidentifier>
			<title>
				<processor>sschollonix/product_processor_title</processor>
			</title>
			<contributor>
				<processor>sschollonix/product_processor_contributor</processor>
			</contributor>
			<othertext>
				<processor>sschollonix/product_processor_othertext</processor>
			</othertext>
			<imprint>
				<processor>sschollonix/product_processor_imprint</processor>
			</imprint>
			<mainsubject>
				<processor>sschollonix/product_processor_mainsubject</processor>
			</mainsubject>
			<publisher>
				<processor>sschollonix/product_processor_publisher</processor>
			</publisher>
			<measure>
				<processor>sschollonix/product_processor_measure</processor>
			</measure>
			<supplydetail>
				<processor>sschollonix/product_processor_supplydetail</processor>
			</supplydetail>
		</tags>
	</sschollonix>
</config>
